
lms/*.log
lms/.env
lms/.env.backup
lms/.env.production
lms/.phpactor.json
lms/.phpunit.result.cache
lms/.idea
lms/.vscode
lms/.vite
lms/node_modules
lms/public/build
lms/public/hot
lms/public/storage
lms/storage/*.key
lms/storage/pail
lms/vendor
vendor/*
lms/Homestead.json
lms/Homestead.yaml
lms/Thumbs.db
